/*
Author: David Anderle
Github: https://github.com/Andergonan/
LICENSE: https://github.com/Andergonan/WAP/blob/main/LICENSE
*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

/*main*/
body {
    position: relative;
    margin: 0px;
    background-color: black;
}

.container {
    width: fit-content;
    height: fit-content;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

/*text & animation*/
.NeonText {
    font-family: 'Akronim', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 15rem;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    animation: neon 1s infinite;
}

.NeonText:active {
    font-size: 79px;
}

@keyframes neon {
100%{
    text-shadow:         
    0 0 10px rgb(255, 136, 0),
    0 0 20px rgb(255, 136, 0),
    0 0 40px rgb(255, 136, 0),
    0 0 60px rgb(255, 136, 0),
    0 0 80px rgb(255, 136, 0),
    0 0 100px rgb(255, 136, 0);
}
0%{
    text-shadow: 
    0 0 10px rgba(255, 136, 0, 0.295),
    0 0 20px rgba(255, 136, 0, 0.295),
    0 0 40px rgba(255, 136, 0, 0.295),
    0 0 60px rgb(255, 136, 0, 0.295),
    0 0 80px rgb(255, 136, 0, 0.295),
    0 0 100px rgb(255, 136, 0, 0.295);
}