/*google fonts start*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*google fonts end*/

/*main structure start*/
body {
  margin: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9110994739692753) 35%, rgba(0,212,255,1) 100%);
}

.container {
    max-width: 60em;
    margin-left: auto; 
    margin-right: auto;
  }
  @media (max-width: 900px) {
    .container {
      text-align: center;
    }
}

.container-center {
  max-width: 60em;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}
    
footer {
  background-color: rgba(71, 71, 71, 0.39);
  min-height: 4rem;
  text-align: center;
}
  .footer-text {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 1rem;
  }
  footer a {
    color: white;
  }
  footer a:hover {
    color: white;
    opacity: 50%;
}

.topnav {
  overflow: hidden;
  background-color: rgba(71, 71, 71, 0.39);
}
  .topnav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #f2f2f2;
    text-align: center;
    float: left;
    padding: 14px 16px;

  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    color: white;
}

.extra {
  background-color: #3643b9c9;
}
/*main structure end*/

/*text start*/
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 10px;
  cursor: default;
  text-align: center;
}
   
.content-text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 25px;
  padding: 2rem;
  padding-left: 3rem;
}

.content-text-center {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  font-size: 25px;
  padding: 2rem;
  padding-left: 3rem;
}
/*text end*/

/*cards start*/
.card {
  display: inline-block;
  padding: 2rem;
}
  .card-img {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    transition-duration: 0.4s
  }
  .card-img:hover {
    border-radius: 10%;
    /*filter:blur(1.5px)*/
  }
  /*.car-card-img:active {
    width:210px;
  }*/
  .card-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
}
/*cards end*/

/*staff cards start*/
.staff-card {
  display: inline-block;
  padding: 2rem;
}
  .staff-card-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
  .staff-card-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
  }
  .staff-card-text a {
    color: black;
}
/*staff cards end*/