/*google fonts start*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*google fonts end*/

/*main start*/
body {
    background-color: rgb(199, 199, 199);
    margin-top: 0%;
}

header {
    background-color: white;
    background-image: url(img/animals-2739386_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 7rem;
}
    header .header-text {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: black;
        text-align: center;
        padding: 5rem;
}

footer {

}



/*main end*/

.title-container {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    padding: 1em;
    margin-top: 1em;
}

/*form start*/
.form-container {
    background-color: grey;
    margin-right: 30em;
    margin-left: 30em;
    border-radius: 2em;
}
    form {
        
        text-align: center;
        padding: 2em;
        margin-top: 2em;
    }
    #submit {
        font-family: 'Roboto', sans-serif;
        background-color: rgb(26, 238, 150);
        border: 1px solid white;
        font-size: 15px;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.5s ease;
    }
        #submit:hover {
            transition: 0.5s ease;
            background-color: rgb(16, 206, 127);
            color: black;
}
/*form end*/